<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ycmedia.dao.AdSpacePriceConfigMapper">
  <resultMap id="BaseResultMap" type="cn.ycmedia.model.AdSpacePriceConfig">
    <id column="item_id" jdbcType="INTEGER" property="itemId" />
    <result column="adspace_id" jdbcType="VARCHAR" property="adspaceId" />
    <result column="adx_media_id" jdbcType="INTEGER" property="adxMediaId" />
    <result column="adspace_name" jdbcType="VARCHAR" property="adspaceName" />
    <result column="adx_adspace_name" jdbcType="VARCHAR" property="adxAdspaceName" />
    <result column="min_price" jdbcType="DECIMAL" property="minPrice" />
    <result column="max_price" jdbcType="DECIMAL" property="maxPrice" />
    <result column="ad_price_type" jdbcType="INTEGER" property="adPriceType" />
    <result column="fixed_price" jdbcType="DECIMAL" property="fixedPrice" />
    <result column="avg_rtb" jdbcType="DECIMAL" property="avgRtb" />
    <result column="is_control" jdbcType="INTEGER" property="isControl" />
    <result column="is_active" jdbcType="VARCHAR" property="isActive" />
    <result column="creation_date" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="created_by" jdbcType="INTEGER" property="createdBy" />
    <result column="last_update_date" jdbcType="TIMESTAMP" property="lastUpdateDate" />
    <result column="last_updated_by" jdbcType="INTEGER" property="lastUpdatedBy" />
  </resultMap>
  <sql id="Base_Column_List">
    item_id, adspace_id, adx_media_id, adspace_name, adx_adspace_name, min_price, max_price, 
    ad_price_type, fixed_price, avg_rtb, is_control, is_active, creation_date, created_by, 
    last_update_date, last_updated_by
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from rtb_adspace_price_config
    where item_id = #{itemId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from rtb_adspace_price_config
    where item_id = #{itemId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.ycmedia.model.AdSpacePriceConfig">
    insert into rtb_adspace_price_config (item_id, adspace_id, adx_media_id, 
      adspace_name, adx_adspace_name, min_price, 
      max_price, ad_price_type, fixed_price, 
      avg_rtb, is_control, is_active, 
      creation_date, created_by, last_update_date, 
      last_updated_by)
    values (#{itemId,jdbcType=INTEGER}, #{adspaceId,jdbcType=VARCHAR}, #{adxMediaId,jdbcType=INTEGER}, 
      #{adspaceName,jdbcType=VARCHAR}, #{adxAdspaceName,jdbcType=VARCHAR}, #{minPrice,jdbcType=DECIMAL}, 
      #{maxPrice,jdbcType=DECIMAL}, #{adPriceType,jdbcType=INTEGER}, #{fixedPrice,jdbcType=DECIMAL}, 
      #{avgRtb,jdbcType=DECIMAL}, #{isControl,jdbcType=INTEGER}, #{isActive,jdbcType=VARCHAR}, 
      #{creationDate,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=INTEGER}, #{lastUpdateDate,jdbcType=TIMESTAMP}, 
      #{lastUpdatedBy,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.ycmedia.model.AdSpacePriceConfig">
    insert into rtb_adspace_price_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="itemId != null">
        item_id,
      </if>
      <if test="adspaceId != null">
        adspace_id,
      </if>
      <if test="adxMediaId != null">
        adx_media_id,
      </if>
      <if test="adspaceName != null">
        adspace_name,
      </if>
      <if test="adxAdspaceName != null">
        adx_adspace_name,
      </if>
      <if test="minPrice != null">
        min_price,
      </if>
      <if test="maxPrice != null">
        max_price,
      </if>
      <if test="adPriceType != null">
        ad_price_type,
      </if>
      <if test="fixedPrice != null">
        fixed_price,
      </if>
      <if test="avgRtb != null">
        avg_rtb,
      </if>
      <if test="isControl != null">
        is_control,
      </if>
      <if test="isActive != null">
        is_active,
      </if>
      <if test="creationDate != null">
        creation_date,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="lastUpdateDate != null">
        last_update_date,
      </if>
      <if test="lastUpdatedBy != null">
        last_updated_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="itemId != null">
        #{itemId,jdbcType=INTEGER},
      </if>
      <if test="adspaceId != null">
        #{adspaceId,jdbcType=VARCHAR},
      </if>
      <if test="adxMediaId != null">
        #{adxMediaId,jdbcType=INTEGER},
      </if>
      <if test="adspaceName != null">
        #{adspaceName,jdbcType=VARCHAR},
      </if>
      <if test="adxAdspaceName != null">
        #{adxAdspaceName,jdbcType=VARCHAR},
      </if>
      <if test="minPrice != null">
        #{minPrice,jdbcType=DECIMAL},
      </if>
      <if test="maxPrice != null">
        #{maxPrice,jdbcType=DECIMAL},
      </if>
      <if test="adPriceType != null">
        #{adPriceType,jdbcType=INTEGER},
      </if>
      <if test="fixedPrice != null">
        #{fixedPrice,jdbcType=DECIMAL},
      </if>
      <if test="avgRtb != null">
        #{avgRtb,jdbcType=DECIMAL},
      </if>
      <if test="isControl != null">
        #{isControl,jdbcType=INTEGER},
      </if>
      <if test="isActive != null">
        #{isActive,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null">
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="lastUpdateDate != null">
        #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatedBy != null">
        #{lastUpdatedBy,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.ycmedia.model.AdSpacePriceConfig">
    update rtb_adspace_price_config
    <set>
      <if test="adspaceId != null">
        adspace_id = #{adspaceId,jdbcType=VARCHAR},
      </if>
      <if test="adxMediaId != null">
        adx_media_id = #{adxMediaId,jdbcType=INTEGER},
      </if>
      <if test="adspaceName != null">
        adspace_name = #{adspaceName,jdbcType=VARCHAR},
      </if>
      <if test="adxAdspaceName != null">
        adx_adspace_name = #{adxAdspaceName,jdbcType=VARCHAR},
      </if>
      <if test="minPrice != null">
        min_price = #{minPrice,jdbcType=DECIMAL},
      </if>
      <if test="maxPrice != null">
        max_price = #{maxPrice,jdbcType=DECIMAL},
      </if>
      <if test="adPriceType != null">
        ad_price_type = #{adPriceType,jdbcType=INTEGER},
      </if>
      <if test="fixedPrice != null">
        fixed_price = #{fixedPrice,jdbcType=DECIMAL},
      </if>
      <if test="avgRtb != null">
        avg_rtb = #{avgRtb,jdbcType=DECIMAL},
      </if>
      <if test="isControl != null">
        is_control = #{isControl,jdbcType=INTEGER},
      </if>
      <if test="isActive != null">
        is_active = #{isActive,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null">
        creation_date = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="lastUpdateDate != null">
        last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatedBy != null">
        last_updated_by = #{lastUpdatedBy,jdbcType=INTEGER},
      </if>
    </set>
    where item_id = #{itemId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.ycmedia.model.AdSpacePriceConfig">
    update rtb_adspace_price_config
    set adspace_id = #{adspaceId,jdbcType=VARCHAR},
      adx_media_id = #{adxMediaId,jdbcType=INTEGER},
      adspace_name = #{adspaceName,jdbcType=VARCHAR},
      adx_adspace_name = #{adxAdspaceName,jdbcType=VARCHAR},
      min_price = #{minPrice,jdbcType=DECIMAL},
      max_price = #{maxPrice,jdbcType=DECIMAL},
      ad_price_type = #{adPriceType,jdbcType=INTEGER},
      fixed_price = #{fixedPrice,jdbcType=DECIMAL},
      avg_rtb = #{avgRtb,jdbcType=DECIMAL},
      is_control = #{isControl,jdbcType=INTEGER},
      is_active = #{isActive,jdbcType=VARCHAR},
      creation_date = #{creationDate,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=INTEGER},
      last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
      last_updated_by = #{lastUpdatedBy,jdbcType=INTEGER}
    where item_id = #{itemId,jdbcType=INTEGER}
  </update>
</mapper>