<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ycmedia.dao.MediaPriceControlEntityMapper">
  <resultMap id="BaseResultMap" type="cn.ycmedia.model.MediaPriceControlEntity">
    <id column="itemId" jdbcType="INTEGER" property="itemid" />
    <result column="mediaid" jdbcType="VARCHAR" property="mediaid" />
    <result column="medianame" jdbcType="VARCHAR" property="medianame" />
    <result column="pricerate" jdbcType="DECIMAL" property="pricerate" />
    <result column="iscontrol" jdbcType="BIT" property="iscontrol" />
    <result column="avg_rtb" jdbcType="DECIMAL" property="avgRtb" />
    <result column="dayBidNum" jdbcType="INTEGER" property="daybidnum" />
    <result column="bidTimeInterval" jdbcType="INTEGER" property="bidtimeinterval" />
    <result column="bidPvRate" jdbcType="DECIMAL" property="bidpvrate" />
    <result column="pvTimeInterval" jdbcType="INTEGER" property="pvtimeinterval" />
    <result column="isFlowControl" jdbcType="BIT" property="isflowcontrol" />
    <result column="isUserControl" jdbcType="BIT" property="isusercontrol" />
    <result column="ispmp" jdbcType="BIT" property="ispmp" />
    <result column="minprice" jdbcType="INTEGER" property="minprice" />
    <result column="maxprice" jdbcType="INTEGER" property="maxprice" />
    <result column="maxpricerate" jdbcType="DOUBLE" property="maxpricerate" />
    <result column="min_price_adder" jdbcType="INTEGER" property="minPriceAdder" />
    <result column="special_max_price" jdbcType="INTEGER" property="specialMaxPrice" />
    <result column="isaliprice" jdbcType="BIT" property="isaliprice" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <sql id="Base_Column_List">
    itemId, mediaid, medianame, pricerate, iscontrol, avg_rtb, dayBidNum, bidTimeInterval, 
    bidPvRate, pvTimeInterval, isFlowControl, isUserControl, ispmp, minprice, maxprice, 
    maxpricerate, min_price_adder, special_max_price, isaliprice, remark, createtime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from rtb_dmpprice_mediacontroller
    where itemId = #{itemid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from rtb_dmpprice_mediacontroller
    where itemId = #{itemid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.ycmedia.model.MediaPriceControlEntity">
    insert into rtb_dmpprice_mediacontroller (itemId, mediaid, medianame, 
      pricerate, iscontrol, avg_rtb, 
      dayBidNum, bidTimeInterval, bidPvRate, 
      pvTimeInterval, isFlowControl, isUserControl, 
      ispmp, minprice, maxprice, 
      maxpricerate, min_price_adder, special_max_price, 
      isaliprice, remark, createtime
      )
    values (#{itemid,jdbcType=INTEGER}, #{mediaid,jdbcType=VARCHAR}, #{medianame,jdbcType=VARCHAR}, 
      #{pricerate,jdbcType=DECIMAL}, #{iscontrol,jdbcType=BIT}, #{avgRtb,jdbcType=DECIMAL}, 
      #{daybidnum,jdbcType=INTEGER}, #{bidtimeinterval,jdbcType=INTEGER}, #{bidpvrate,jdbcType=DECIMAL}, 
      #{pvtimeinterval,jdbcType=INTEGER}, #{isflowcontrol,jdbcType=BIT}, #{isusercontrol,jdbcType=BIT}, 
      #{ispmp,jdbcType=BIT}, #{minprice,jdbcType=INTEGER}, #{maxprice,jdbcType=INTEGER}, 
      #{maxpricerate,jdbcType=DOUBLE}, #{minPriceAdder,jdbcType=INTEGER}, #{specialMaxPrice,jdbcType=INTEGER}, 
      #{isaliprice,jdbcType=BIT}, #{remark,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.ycmedia.model.MediaPriceControlEntity">
    insert into rtb_dmpprice_mediacontroller
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="itemid != null">
        itemId,
      </if>
      <if test="mediaid != null">
        mediaid,
      </if>
      <if test="medianame != null">
        medianame,
      </if>
      <if test="pricerate != null">
        pricerate,
      </if>
      <if test="iscontrol != null">
        iscontrol,
      </if>
      <if test="avgRtb != null">
        avg_rtb,
      </if>
      <if test="daybidnum != null">
        dayBidNum,
      </if>
      <if test="bidtimeinterval != null">
        bidTimeInterval,
      </if>
      <if test="bidpvrate != null">
        bidPvRate,
      </if>
      <if test="pvtimeinterval != null">
        pvTimeInterval,
      </if>
      <if test="isflowcontrol != null">
        isFlowControl,
      </if>
      <if test="isusercontrol != null">
        isUserControl,
      </if>
      <if test="ispmp != null">
        ispmp,
      </if>
      <if test="minprice != null">
        minprice,
      </if>
      <if test="maxprice != null">
        maxprice,
      </if>
      <if test="maxpricerate != null">
        maxpricerate,
      </if>
      <if test="minPriceAdder != null">
        min_price_adder,
      </if>
      <if test="specialMaxPrice != null">
        special_max_price,
      </if>
      <if test="isaliprice != null">
        isaliprice,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="itemid != null">
        #{itemid,jdbcType=INTEGER},
      </if>
      <if test="mediaid != null">
        #{mediaid,jdbcType=VARCHAR},
      </if>
      <if test="medianame != null">
        #{medianame,jdbcType=VARCHAR},
      </if>
      <if test="pricerate != null">
        #{pricerate,jdbcType=DECIMAL},
      </if>
      <if test="iscontrol != null">
        #{iscontrol,jdbcType=BIT},
      </if>
      <if test="avgRtb != null">
        #{avgRtb,jdbcType=DECIMAL},
      </if>
      <if test="daybidnum != null">
        #{daybidnum,jdbcType=INTEGER},
      </if>
      <if test="bidtimeinterval != null">
        #{bidtimeinterval,jdbcType=INTEGER},
      </if>
      <if test="bidpvrate != null">
        #{bidpvrate,jdbcType=DECIMAL},
      </if>
      <if test="pvtimeinterval != null">
        #{pvtimeinterval,jdbcType=INTEGER},
      </if>
      <if test="isflowcontrol != null">
        #{isflowcontrol,jdbcType=BIT},
      </if>
      <if test="isusercontrol != null">
        #{isusercontrol,jdbcType=BIT},
      </if>
      <if test="ispmp != null">
        #{ispmp,jdbcType=BIT},
      </if>
      <if test="minprice != null">
        #{minprice,jdbcType=INTEGER},
      </if>
      <if test="maxprice != null">
        #{maxprice,jdbcType=INTEGER},
      </if>
      <if test="maxpricerate != null">
        #{maxpricerate,jdbcType=DOUBLE},
      </if>
      <if test="minPriceAdder != null">
        #{minPriceAdder,jdbcType=INTEGER},
      </if>
      <if test="specialMaxPrice != null">
        #{specialMaxPrice,jdbcType=INTEGER},
      </if>
      <if test="isaliprice != null">
        #{isaliprice,jdbcType=BIT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.ycmedia.model.MediaPriceControlEntity">
    update rtb_dmpprice_mediacontroller
    <set>
      <if test="mediaid != null">
        mediaid = #{mediaid,jdbcType=VARCHAR},
      </if>
      <if test="medianame != null">
        medianame = #{medianame,jdbcType=VARCHAR},
      </if>
      <if test="pricerate != null">
        pricerate = #{pricerate,jdbcType=DECIMAL},
      </if>
      <if test="iscontrol != null">
        iscontrol = #{iscontrol,jdbcType=BIT},
      </if>
      <if test="avgRtb != null">
        avg_rtb = #{avgRtb,jdbcType=DECIMAL},
      </if>
      <if test="daybidnum != null">
        dayBidNum = #{daybidnum,jdbcType=INTEGER},
      </if>
      <if test="bidtimeinterval != null">
        bidTimeInterval = #{bidtimeinterval,jdbcType=INTEGER},
      </if>
      <if test="bidpvrate != null">
        bidPvRate = #{bidpvrate,jdbcType=DECIMAL},
      </if>
      <if test="pvtimeinterval != null">
        pvTimeInterval = #{pvtimeinterval,jdbcType=INTEGER},
      </if>
      <if test="isflowcontrol != null">
        isFlowControl = #{isflowcontrol,jdbcType=BIT},
      </if>
      <if test="isusercontrol != null">
        isUserControl = #{isusercontrol,jdbcType=BIT},
      </if>
      <if test="ispmp != null">
        ispmp = #{ispmp,jdbcType=BIT},
      </if>
      <if test="minprice != null">
        minprice = #{minprice,jdbcType=INTEGER},
      </if>
      <if test="maxprice != null">
        maxprice = #{maxprice,jdbcType=INTEGER},
      </if>
      <if test="maxpricerate != null">
        maxpricerate = #{maxpricerate,jdbcType=DOUBLE},
      </if>
      <if test="minPriceAdder != null">
        min_price_adder = #{minPriceAdder,jdbcType=INTEGER},
      </if>
      <if test="specialMaxPrice != null">
        special_max_price = #{specialMaxPrice,jdbcType=INTEGER},
      </if>
      <if test="isaliprice != null">
        isaliprice = #{isaliprice,jdbcType=BIT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where itemId = #{itemid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.ycmedia.model.MediaPriceControlEntity">
    update rtb_dmpprice_mediacontroller
    set mediaid = #{mediaid,jdbcType=VARCHAR},
      medianame = #{medianame,jdbcType=VARCHAR},
      pricerate = #{pricerate,jdbcType=DECIMAL},
      iscontrol = #{iscontrol,jdbcType=BIT},
      avg_rtb = #{avgRtb,jdbcType=DECIMAL},
      dayBidNum = #{daybidnum,jdbcType=INTEGER},
      bidTimeInterval = #{bidtimeinterval,jdbcType=INTEGER},
      bidPvRate = #{bidpvrate,jdbcType=DECIMAL},
      pvTimeInterval = #{pvtimeinterval,jdbcType=INTEGER},
      isFlowControl = #{isflowcontrol,jdbcType=BIT},
      isUserControl = #{isusercontrol,jdbcType=BIT},
      ispmp = #{ispmp,jdbcType=BIT},
      minprice = #{minprice,jdbcType=INTEGER},
      maxprice = #{maxprice,jdbcType=INTEGER},
      maxpricerate = #{maxpricerate,jdbcType=DOUBLE},
      min_price_adder = #{minPriceAdder,jdbcType=INTEGER},
      special_max_price = #{specialMaxPrice,jdbcType=INTEGER},
      isaliprice = #{isaliprice,jdbcType=BIT},
      remark = #{remark,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where itemId = #{itemid,jdbcType=INTEGER}
  </update>
</mapper>