<?xml version="1.0"?>
<configuration>
    <property name="log_root_path" value="/data/appLogs"/>
    <property name="log_pattern" value="[%-5level] %d{HH:mm:ss.SSS} [%thread] %logger{36} - %msg%n"/>
    <property name="queueSize" value="1000"/>
    <property name="maxFileSize" value="512MB"/>
    <property name="keepHistoryDays" value="10"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log_pattern}</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${log_root_path}/learn-jdbc.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log_root_path}/learn-jdbc-%d{yyyy-MM-dd}.%i.log.zip</FileNamePattern>
            <MaxHistory>${keepHistoryDays}</MaxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>${maxFileSize}</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <append>true</append>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${log_pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="async_file" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>${queueSize}</queueSize>
        <includeCallerData>true</includeCallerData>
        <appender-ref ref="file"/>
    </appender>

    <root>
        <level value="info"/>
        <appender-ref ref="console"/>
        <appender-ref ref="async_file"/>
    </root>


</configuration>